
.splash-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* Фоновий колір заставки */
    color: rgb(19, 3, 51);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

 
  .up-cont{
    display: flex;
   flex-direction: row;
   justify-content: center;
    align-items: center;
  }
  .logo-container img {
    max-width: 200px; /* Регулюємо максимальну ширину логотипу */
  }
  
  .splash-content {
    
    padding: 50px;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1rem;
  }
  
  #animation-container {
    width: 300px; /* Зменшення ширини */
    height: 300px; /* Зменшення висоти */
}